.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.App-header {
  background-color: white;
  align-items: center;
  justify-content: center;
  color: black;
}

.App footer {
  font-family: monospace;
  margin-top: 25px;
}
