.Forecast {
  font-family: "Open Sans", sans-serif;
}
.Forecast .card {
  width: 110px;
  padding: 5px;
  margin: 2px;
  border-color: white;
  border-width: 2px;
  border-radius: 25px;
  background-color: #ffc2b4;
  color: white;
}
.Forecast .weatherForecast-Max {
  font-weight: bold;
}
.Forecast footer {
  font-family: monospace;
}

.Forecast .col {
  padding-right: 0;
}
