.Forecast {
  padding: 50px;
  font-family: "Open Sans", sans-serif;
}
.Forecast .card {
  width: 110px;
  padding: 5px;
  margin: 2px;
  border: none !important;
}

.Forecast footer {
  font-family: monospace;
}
