.Search {
  background-color: #ffc2b4;
  padding: 20px 0 80px;
  border-radius: 0 0 25px 25px;
}

button {
  border: none;
  margin: 5px;
  background-color: white;
  border-radius: 5px;
  font-size: 15px;
}

button:hover {
  background-color: #9dbeb9;
}

input {
  border: none;
  border-radius: 5px;
  font-size: 15px;
}
