.Weather {
  background-color: #ffc2b4;
  color: white;
  padding: 50px;
  border-radius: 25px;
  margin-top: 20px;
}
.Weather .temperature,
.unit {
  font-size: 36px;
}
.button {
  border: none;
  margin: 5px !important;
  background-color: white;
  border-radius: 5px !important;
  font-size: 15px !important;
  padding: 5px;
}
.search {
  padding: 5px;
}
.button:hover {
  background-color: #d9d9d9;
}

input {
  border: none;
  border-radius: 5px;
  font-size: 15px;
}
